Flask-Bcrypt
flask-cors
Flask-JWT-Extended
Flask-Migrate
Flask-SocketIO
pipdeptree
psycopg2-binary
python-dotenv
weave
google-generativeai
openai
a2a-sdk
aioconsole
fastmcp
fqdn
google-adk
google-cloud-logging
jupyterlab
langchain
networkx
sqlmodel
weave
webcolors
wikipedia
numpy
pandas